<h1>Nova Filial</h1>
<hr>
<div class="alert alert-danger" role="alert" *ngIf="server_error">
  {{server_error}}
  <br />
</div>
<div *ngIf="!sucesso" class="alert alert-success" role="alert">
  Enviado com sucesso!
  <button (click)="sucesso = true;" class="btn btn-success">
    Adicionar outro
  </button>
</div>
<form [formGroup]="filialForm" (ngSubmit)="edit? update():enviar()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Código:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['cc_fil'].valid &&filialForm.controls['cc_fil'].touched }"
        maxlength="3" class="form-control" formControlName="cc_fil">
    </div>
    <div class="form-group col-md-4">
      <label>Razão Social:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['nm_fil'].valid &&filialForm.controls['nm_fil'].touched }"
        class="form-control" formControlName="nm_fil">
    </div>
    <div class="form-group col-md-3">
      <label>CNPJ:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['cc_ins_fed'].valid &&filialForm.controls['cc_ins_fed'].touched }"
        [textMask]="{mask: mask_cnpj,guide:false}" class="form-control" placeholder="xx.xxx/xxxx-xx" formControlName="cc_ins_fed">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Regime Tributário:</label>
      <select formControlName="cc_reg_tri" [ngClass]="{'red-border-class':!filialForm.controls['cc_reg_tri'].valid &&filialForm.controls['cc_reg_tri'].touched }"
        class="form-control">
        <option value="">Selecione</option>
        <option *ngFor="let reg of regs" [value]="reg.codigo">
          {{reg.nome}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label>CNAE Fiscal:</label>
      <input type="text" [textMask]="{mask: mask_cnae,guide:false}" [ngClass]="{'red-border-class':!filialForm.controls['cc_cna_fis'].valid &&filialForm.controls['cc_cna_fis'].touched }"
        class="form-control" formControlName="cc_cna_fis" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label>Inscrição Estadual:</label>
      <input type="text" [textMask]="{mask: mask_est,guide:false}" [ngClass]="{'red-border-class':!filialForm.controls['cc_ins_est'].valid &&filialForm.controls['cc_ins_est'].touched }"
        class="form-control" formControlName="cc_ins_est" placeholder="">
    </div>
    <div class="form-group col-md-3">
      <label>Inscrição Municipal:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['cc_ins_mun'].valid &&filialForm.controls['cc_ins_mun'].touched }"
        class="form-control" formControlName="cc_ins_mun" placeholder="">
    </div>
  </div>
  <hr>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>CEP:</label>
      <input type="text" (focusout)="setAddress()" [ngClass]="{'red-border-class':!filialForm.controls['cc_end_cpt'].valid &&filialForm.controls['cc_end_cpt'].touched }"
        [textMask]="{mask: mask_cep}" class="form-control" formControlName="cc_end_cpt" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label>Logradouro:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['tx_end_log'].valid &&filialForm.controls['tx_end_log'].touched }"
        class="form-control" formControlName="tx_end_log" placeholder="ex: rua 2...">
    </div>
    <div class="form-group col-md-2">
      <label>Número:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['tx_end_num'].valid &&filialForm.controls['tx_end_num'].touched }"
        class="form-control" formControlName="tx_end_num" placeholder="ex: 123">
    </div>
    <div class="form-group col-md-3">
      <label>Bairro:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['tx_end_bai'].valid &&filialForm.controls['tx_end_bai'].touched }"
        class="form-control" formControlName="tx_end_bai" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Complemento:</label>
      <input type="text" class="form-control" formControlName="tx_end_cmp" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label>Telefone:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['tx_end_tel'].valid &&filialForm.controls['tx_end_tel'].touched }"
        [textMask]="{mask: mask_tel, guide:false}" class="form-control" formControlName="tx_end_tel" placeholder="(xx) xxxxx-xxxx">
    </div>
    <div class="form-group col-md-2">
      <label>Código do Município:</label>
      <input type="text"  [textMask]="{mask: mask_cod,guide:false}"[ngClass]="{'red-border-class':!filialForm.controls['cc_end_mun_cod'].valid &&filialForm.controls['cc_end_mun_cod'].touched }"
        class="form-control" formControlName="cc_end_mun_cod" placeholder="">
    </div>
    <div class="form-group col-md-3">
      <label>Nome Município:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['tx_end_mun_nom'].valid &&filialForm.controls['tx_end_mun_nom'].touched }"
        class="form-control" formControlName="tx_end_mun_nom" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label>UF:</label>
      <input type="text" [ngClass]="{'red-border-class':!filialForm.controls['cc_end_est'].valid &&filialForm.controls['cc_end_est'].touched }"
        maxlength="2" class="form-control" formControlName="cc_end_est" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Código do País:</label>
      <input disabled type="text" class="form-control" formControlName="cn_end_pai_cod" value="1058" placeholder="1058">
    </div>
    <div class="form-group col-md-4">
      <label>Nome do País:</label>
      <input disabled type="text" class="form-control" formControlName="tx_end_pai_nom" value="BRASIL" placeholder="BRASIL">
    </div>
  </div>
  <hr>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-success" [disabled]="!filialForm.valid">
      Enviar
    </button>
    <div *ngIf="loading;"> <img src="./../assets/loading.gif" alt=""></div>
  </div>
</form>
