<nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand brand-logo" href="#">
        <img src="./../assets/logo-unigex.png" width="150" height="auto" class="d-inline-block  align-top" alt="WebGex">
    </a>
    <button *ngIf="show" class="navbar-toggle ui-button-success" type="text" (click)="logout()" icon="fa-sign-out" pButton></button>
</nav>
<div *ngIf="show" class="left">
    <div class="menu">
        <div [routerLink]="['']" class="item">
            <i class="fa fa-home"></i>
            Filiais
        </div>
        <div [routerLink]="['pdvs']" class="item active">
            <i class="fa fa-shopping-cart"></i>
            P D V's</div>
        <div [routerLink]="['produtos']" class="item">
            <i class="fa fa-barcode"></i>
            Produtos</div>
        <div [routerLink]="['empregados']" class="item">
            <i class="fa fa-users"></i>
            Empregados</div>
        <div (click)= 'showFinan()' class="finan item">
            <i class="fa fa-dollar"></i>
            Financeiro
            <i class="{{rotation}}"></i>
        </div>
        <div class= "financeiro" *ngIf="financeiro" [@enterAnimation]>
            <div [routerLink]="['finalizadoras']" class="fin item">
                <i class="fa fa-check-square"></i>
                Finalizadoras</div>
            <div [routerLink]="['poss']" class="fin item">
                <i class="fa fa-calculator"></i>
                P O S 's</div>
            <div [routerLink]="['bandeiras']" class="fin item">
                <i class="fa fa-credit-card"></i>
                Bandeiras</div>
            <div [routerLink]="['planos']" class="fin item">
                <i class="fa fa-calendar"></i>
                Planos</div>
        </div>
    </div>

</div>