.navbar {
  background-color: #228b22;
  border-bottom: 1px solid #228b22;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.466);
}
.brand-logo {
  margin: 0 auto;
}
a {
  cursor: pointer;
}
td,
th {
  vertical-align: middle !important;
}
.left,
.right {
  float: left;
  height: 100vh;
}

.left {
  background: #4db733;
  display: inline-block;
  white-space: nowrap;
  width: 50px;
  transition: width 1s;
  font-family: "Lastwaerk";
  font-weight: 800;
}

.right {
  background: #fff;
  width: 60%;
  transition: width 1s;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
}

.left:hover {
  width: 250px;
}

.item:hover {
  background-color: #ccc;
}

.left .fa {
  margin: 15px;
  font-size: 25px;
  color: #fff;
}

.right .fa {
  color: #a9a9a9;
}
i.fa.fa-refresh {
  font-size: 17px;
  vertical-align: middle !important;
}

.item {
  height: 50px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}
.title {
  background-color: #eee;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  box-sizing: border-box;
}
.search:hover {
  border-color: #4aa9fb;
  border-width: 1px;
}
.search {
  padding: 3px 8px 3px !important;
}
input[type="search"] {
  padding: 10px 0px 10px;
  border: 0px solid #fff;
  background: #eee;
  -webkit-appearance: none;
  width: 90%;
  float: none;
}
input[type="search"]:focus {
  outline: none;
}
.type {
  height: 47px;
}
.date {
  background-color: #f7f7f7;
}
.docdate {
  vertical-align: bottom !important;
}
.distr {
  margin: 0 0 5px;
  font-size: 12px;
}
.ndoc {
  margin: 0 0 5px;
}
.storage {
  margin: 0;
  color: #aaa !important;
  font-size: 12px;
}
