.navbar {
  background-color: #228b22;
  border-bottom: 1px solid #228b22;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.466);
}
.brand-logo {
  margin: 0 auto;
}
a {
  cursor: pointer;
}
td,
th {
  vertical-align: middle !important;
}
.left,
.right {
  float: left;
  height: 100vh;
}

.left {
  background: #4db733;
  display: inline-block;
  white-space: nowrap;
  width: 50px;
  transition: width 1s;
  font-weight: 500;
}


.left:hover {
  width: 250px;
}

.item:hover {
  background-color: rgb(26, 100, 39);
}

.left .fa {
  margin: 15px;
  font-size: 25px;
  color: #fff;
}

.item {
  height: 50px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}
