<nav class="navbar navbar-light">
    <a class="navbar-brand brand-logo" href="#">
        <img src="../../assets/logo-unigex.png" width="150" height="auto" class="d-inline-block  align-top" alt="WebGex">
    </a>
    <button *ngIf="show" class="navbar-toggle" type="text" (click)="display = true" pButton icon="fa-user"></button>
    <p-sidebar [(visible)]="display">
        <h1>Opções</h1>
        <a (click)="logout()">
            <i class="fa fa-sign-out"></i>Logout</a>
    </p-sidebar>
</nav>
<div *ngIf="show" class="left">
    <div class="item">
        <i class="fa fa-home"></i>
        Filiais
    </div>
    <div class="item active">
        <i class="fa fa-shopping-cart"></i>
        P D V</div>
    <div class="item">
        <i class="fa fa-barcode"></i>
        Produtos</div>
    <div class="item">
        <i class="fa fa-users"></i>
        Empregados</div>
</div>