.navbar {
  background-color: #228b22;
  border-bottom: 1px solid #228b22;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.466);
  
}
.brand-logo {
  margin: 0 auto;
}
a {
  cursor: pointer;
}
td,
th {
  vertical-align: middle !important;
}
.left{
  float: left;
  height: 800px;
}

.left {
  margin-top: -12px;
  background: #4db733;
  display: inline-block;
  white-space: nowrap;
  width: 50px;
  transition: width 1s;
  font-weight: 500;
  position: relative;
  
}

@media only screen and (max-width:800px){
    .left{
      height: 1800px;
    }
}


.left:hover {
  width: 250px;
}

.item:hover {
  background-color: rgb(26, 100, 39);
}

.left .fa {
  margin: 15px;
  font-size: 25px;
  color: #fff;
}

.item {
  margin-top:10px;
  height: 50px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}

ui-column-title{
  font-weight: 500 !important;
}