<div class="ui-g">
  <div class="ui-g-12">
    <p-dataTable [value]="filiais" [loading]="loading" loadingIcon="fa-spinner" [responsive]="true" [paginator]="true" [rows]="rows" [first]="first" [scrollable]="true" [lazy]="true" (onLazyLoad)="loadData($event)"
      [totalRecords]="totalRecords" [rowsPerPageOptions]="[5,10,20]">
      <p-column field="cc_fil" header="Filial"></p-column>
      <p-column field="nm_fil" header="Nome"></p-column>
      <p-column field="cc_ins_fed" header="CNPJ"></p-column>
      <p-column field="tx_end_log" header="Logradouro"></p-column>
      <p-column field="tx_end_num" header="Número"></p-column>
      <p-column>
        <ng-template let-f="rowData" pTemplate="body">
          <button pButton type="button" class="tbutton" (click)="showDialog(f.cc_fil)" icon="fa-eye"></button>
          <button pButton type="button" class="tbutton ui-button-warning" (click)="showDialog(f.cc_fil)" icon="fa-edit"></button>
          <button pButton type="button" class="tbutton ui-button-danger" (click)="showDialog(f.cc_fil)" icon="fa-remove"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
    <button pButton type="button" [routerLink]="['new-filial']" class="add-button ui-button-success" icon="fa-plus"></button>
  </div>

</div>

<p-dialog header="Title" [(visible)]="display">
 <p>Organização</p>
 <span></span>

</p-dialog>