<div class="alert alert-success" role="alert" *ngIf="sucesso">
  Formulário enviado com sucesso!
  <br />
</div>
<form *ngIf="!sucesso"  [formGroup]="filialForm" (ngSubmit)="enviar(filialForm.value)">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Código Filial:</label>
      <input type="text" class="form-control" placeholder="código" formControlName="cc_fil">
    </div>
    <div class="form-group col-md-4">
      <label >Nome Filial:</label>
      <input type="text" class="form-control" placeholder="nome" formControlName="nm_fil">
    </div>
    <div class="form-group col-md-4">
      <label >CNPJ da Filial:</label>
      <input type="text" class="form-control" placeholder="CNPJ" formControlName="cc_ins_fed">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label >Regime Tributário:</label>
      <select formControlName="cc_reg_tri" class="form-control">
        <option value="">Selecione</option>
        <option *ngFor="let reg of regs" [value]="reg.codigo">
          {{reg.nome}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label >Status:</label>
      <select class="form-control" formControlName="st_fil">
        <option>Ativo</option>
        <option>Bloqueado</option>
      </select>
    </div>
  </div>
  <hr>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label >CEP:</label>
      <input type="text" class="form-control" formControlName="cc_end_cpt" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label >Logradouro:</label>
      <input type="text" class="form-control" formControlName="tx_end_log" placeholder="ex: rua 2...">
    </div>
    <div class="form-group col-md-2">
      <label >Número:</label>
      <input type="text" class="form-control" formControlName="tx_end_num" placeholder="ex: 123">
    </div>
    <div class="form-group col-md-3">
      <label >Bairro:</label>
      <input type="text" class="form-control" formControlName="tx_end_bai" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label >Complemento:</label>
      <input type="text" class="form-control" formControlName="tx_end_cmp" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label>Código do Município:</label>
      <input type="text" class="form-control" formControlName="cc_end_mun_cod" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label>Nome Município:</label>
      <input type="text" class="form-control" formControlName="tx_end_mun_nom" placeholder="">
    </div>
    <div class="form-group col-md-2">
      <label >UF:</label>
      <input type="text" class="form-control" formControlName="cc_end_est" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Código do País:</label>
      <input type="text" class="form-control" formControlName="cc_end_pai_cod" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label>Nome do País:</label>
      <input type="text" class="form-control" formControlName="tx_end_pai_nom" placeholder="">
    </div>
    <div class="form-group col-md-3">
      <label>Telefone:</label>
      <input type="text" class="form-control" formControlName="tx_end_tel" placeholder="(xx) xxxxx-xxxx">
    </div>
  </div>
  <hr>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Inscrição Estadual:</label>
      <input type="text" class="form-control" formControlName="cc_ins_est" placeholder="">
    </div>
    <div class="form-group col-md-4">
      <label>Inscrição Municipal:</label>
      <input type="text" class="form-control" formControlName="cc_ins_mun" placeholder="">
    </div>
    <div class="form-group col-md-3">
      <label>CNAE Fiscal:</label>
      <input type="text" class="form-control" formControlName="cc_cna_fis" placeholder="">
    </div>
  </div>
  <hr />
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary" [disabled]="!filialForm.valid">
      Enviar
    </button>
  </div>
</form>