<h1>Novo PDV</h1>
<hr>
<div class="alert alert-danger" role="alert" *ngIf="server_error">
  {{server_error}}
  <br />
</div>
<div *ngIf="!sucesso" class="alert alert-success" role="alert">
  Enviado com sucesso!
  <button (click)="sucesso = true;" class="btn btn-success">
    Adicionar outro
  </button>
</div>
<form *ngIf="sucesso" [formGroup]="pdvForm" (ngSubmit)="edit? enviar():update()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Filial:</label>
      <select formControlName="cc_fil" [ngClass]="{'red-border-class':!pdvForm.controls['cc_fil'].valid && pdvForm.controls['cc_fil'].touched }"
        class="form-control">
        <option value="">Selecione</option>
        <option *ngFor="let filial of filiais" [value]="filial.cc_fil">
          {{filial.nm_fil}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label>Código Pdv:</label>
      <input type="text" [ngClass]="{'red-border-class':!pdvForm.controls['cc_pdv'].valid &&pdvForm.controls['cc_pdv'].touched }"
        class="form-control" formControlName="cc_pdv">
    </div>
  </div>
  <hr>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-success" [disabled]="!pdvForm.valid">
      Enviar
    </button>
    <div *ngIf="loading;"> <img src="./../assets/loading.gif" alt=""></div>
  </div>
</form>
