
body {
  font-family: "Lastwaerk" !important;
}
label {
  font-weight: 600;
}
input,
select {
  border-radius: 10px !important;
}
input:hover {
  border-color: green !important;
}
input:focus {
  border-color: green !important;
}
select:hover {
  border-color: green !important;
}
select:focus {
  border-color: green !important;
}

.red-border-class{
  border-color: red;
}
h1{
  font-weight: 800;
}
form h6{
  float: right;
  color:grey;
  font-weight: 800;
}
form hr{
  margin-bottom: 6px;
}

.container {
  margin-top: 90px !important;
}
@media only screen and(max-width:600px) {

}
*:focus {
  outline-color: white !important;
}
button{
  cursor: pointer;
}


/*datatables*/
.ui-column-title{
  color: black;
  font-size: 20px;
  font-family: "Lastwaerk" !important;
  
}
.ui-cell-data{
  font-family: "Lastwaerk" !important;
  font-size:15px;
  font-weight: 600;
}

.tbutton{
  float: left;
  margin:5px;
}
.title-card{
   font-weight:600; 
}
.add-button{
   position: fixed;
   right: 5%;
   bottom:10%;
   width: 65px;
   height: 65px;
   border-radius: 65px;
   font-size: 25px;
}
@media only screen and(max-width:600px){
   .add-button{
       bottom:20%;
       width: 60px;
       height: 60px;
       border-radius: 60px;
       font-size: 30px;
   }
}

