<div class="ui-g">
  <div class="ui-g-12">
    <p-dataTable [value]="filiais" [loading]="loading" loadingIcon="fa-spinner" [responsive]="true" [paginator]="true" [rows]="rows"
      [first]="first" [scrollable]="true" [lazy]="true"  (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [rowsPerPageOptions]="[2,10,20]">
      <p-column field="cc_fil" header="Filial"></p-column>
      <p-column field="nm_fil" header="Nome"></p-column>
      <p-column field="cc_ins_fed" header="CNPJ"></p-column>
      <p-column field="tx_end_log" header="Logradouro"></p-column>
      <p-column field="tx_end_num" header="Número"></p-column>
      <p-column>
        <ng-template let-f="rowData" pTemplate="body">
          <button pButton type="button" class="tbutton" (click)="showDialog(f.cc_fil)" icon="fa-eye"></button>
          <button pButton type="button" [routerLink]="['edit-filial/',f.cc_fil]" class="tbutton ui-button-warning" icon="fa-edit"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
    <button pButton type="button" [routerLink]="['new-filial']" class="add-button ui-button-success" icon="fa-plus"></button>
  </div>
</div>
<p-dialog header="Filial" [(visible)]="display"[contentStyle]="{'max-height':'600px'}">
  <div *ngIf="filial;" class="">
    <div class="row">
      <div class="col col-sm-12 col-md-3">
        <div class="title-card">
          Organização:
        </div>
        <div class="value-card">{{filial['0'].cc_org}}</div>
      </div>
      <div class="col col-sm-12 col-md-3">
        <div class="title-card">
          Código:
        </div>
        <div class="value-card">{{filial['0'].cc_fil}}</div>
      </div>
      <div class="col col-sm-12 col-md-3">
        <div class="title-card">
          Razão Social:
        </div>
        <div class="value-card">{{filial['0'].nm_fil}}</div>
      </div>
      <div class="col col-sm-12 col-md-3">
        <div class="title-card">
          CNPJ:
        </div>
        <div class="value-card">{{filial['0'].cc_ins_fed}}</div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-sm-12 col-md-3">
        <div class="title-card">
          Regime Tributário:
        </div>
        <div class="value-card">{{filial['0'].cc_reg_tri}}</div>
      </div>
      <div class="col col-sm-12 col-md-3">
        <div class="title-card">
          CNAE:
        </div>
        <div class="value-card">{{filial['0'].cc_cna_fis}}</div>
      </div>
      <div class="col col-sm-12 col-md-3">
        <div class="title-card">
          Inscrição Estadual:
        </div>
        <div class="value-card">{{filial['0'].cc_ins_est}}</div>
      </div>
      <div class="col col-sm-12 col-md-3">
        <div class="title-card">
          Inscrição Municipal:
        </div>
        <div class="value-card">{{filial['0'].cc_ins_mun}}</div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-sm-12 col-md-3">
        <div class="title-card">
          Telefone:
        </div>
        <div class="value-card">{{filial['0'].tx_end_tel}}</div>
      </div>
    </div>
  </div>
</p-dialog>
